<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked" >
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Home<i class="fa fa-home fa-fw pull-right" ></i></a></li>
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Customers<i class="fa fa-users fa-fw pull-right"></i></a></li>
            <li class=""><a ng-href="#/">Register customer<i class="fa fa-user-plus fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Movies<i class="fa fa-film fa-fw pull-right"></i></a></li>
            <li class=""><a ng-href="#/">Add movie<i class="fa fa-plus-circle fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Rental history<i class="fa fa-leanpub fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
            <li class="" ng-if="userData.isUserLoggedIn"><a ng-href="#/">Logout<i class="fa fa-sign-out fa-fw pull-right"></i></a></li>
        </ul>
    </div>
</div>